html, body{
    padding: 0;
    margin: 0;
    background-color: #2f3542;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    margin: none;
    padding: none;
    color: inherit
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 2px solid white;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    color: white;
}

header h3{
    margin: 0;
}

main{
    padding: 25px;
    text-align: center;
}

form *{
    padding: 5px;
    margin-top: 3px;
}

.series-content{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.serie{
    background-color: #252627;
    font-size: 1em;
    word-wrap: break-word;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.serie img{
    width: 100%;
}

.serie h3{
    margin-top: 0;
}

.info-serie{
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.fa-heart{
    margin-top: 15px;
    font-size: 2em;
    transition: color 0.2s;
}

.fa-heart:hover{
    cursor: pointer;
    color: #e73a3a;
    transition: color 0.2s;
}

.liked{
    color: #e73a3a;
    transition: color 0.2s;
}

.recherche-serie{
    display: flex;
    justify-content: center;
    gap: 0;
}

.recherche-serie input[type=text], .recherche-serie button{
    outline: none;
    border: none;
    padding: 5px;
    margin: 0;
    background: #252627;
    color: white;
    transition: all ease 0.2s;
    font-weight: 600;
}

.recherche-serie button i{
    color: white;
    transition: inherit;
}

.recherche-serie button:hover{
    transition: all ease 0.2s;
    color: #252627;
    background: white;
    cursor: pointer;
}

.recherche-serie button:hover i{
    transition: all ease 0.2s;
    color: #252627;
}

.recherche-serie .likees {
    margin-left: 50px;
    margin: auto 5px auto 30px;
}

.recherche-serie .likees:hover {
    cursor: pointer;
}

.recherche-serie label{
    margin: auto 0 auto 0;
}